.text {
  padding-top: 12px;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.share {
  padding: 20px;;
}

.share-icon {
  height: 32px;
  cursor: pointer;
}

.layout {
  display: flex;
  align-items: center;
  background-color: #58575662;
  overflow: hidden;
}
h2{
  margin-left: 16px;
}
.layout .input{
  margin-left: 25px;
}
